<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/component.css">
</head>
<body>
<div class="headea">
    <div class="hed hed1"><img id="my--icon" src="/images/dorm.png" alt=""></div>
    <div class="hed hed2">abdullahfy</div>
    <div class="hed hed3"><img id="my--icon" src="/images/butterfly.JPG" alt=""></div>
</div> 
</body>
</html>